*{padding: 0;margin: 0;}
body,html,.bobo {width: 100%;height: 100%;min-width: 1100px;background-color:#9e9ea0;font-size: 14px;overflow: hidden;}
a{text-decoration: none;color: #c3c3c3;font-size: 14px;display: inline-block;}

/* commond */
.bg-img,.bg-img-mask{position: absolute; top: 0;left: 0;}
/* 背景 */
.bg-img{min-width: 100%;min-height: 100%; background: url("https://p.qpic.cn/music_cover/uk9QM7H6D5KAtgzFog6rQnd2Yd45X8tS9XLkvPTib4XQRDRzRQcticwQ/300?n=1") no-repeat fixed center;z-index: 1;background-size: cover;filter: blur(30px)}
.bg-img-mask { width: 100%;height: 100%; background-color: rgba(0,0,0,.35);z-index: 2;box-shadow: none;}
/* main */
.mod_music {position: relative;z-index: 3;height: 100%;margin: 0 6%;}
.logo{position: absolute; z-index: 3;font-size: 18px;font-weight: bold;color: #fff;top: 40px;left: 60px;}
/* content */
.music_content {position: absolute;top: 3%;bottom: 18%;min-height: 350px;cursor: default;width: 100%;}
.music_content_left{display: inline-block;position: absolute;height: 100%; width: 50%}
.music_content_left img{    border-radius: 100%;    position: absolute;top: 50%;left: 50%;margin-top: -161px;margin-left: -107px;}
.music_content_right{display: inline-block;position:absolute;top:0;height: 100%;width: 680px;left: 50%;}
/* music content */
.music_header {display: block;font-weight: 500;line-height: 45px;color: #fff;font-size: 24px;padding-top: 30px;}
.song_info_name{display:inline-block;padding-right: 20px;}
.song_info_name span{color: #c3c3c3;}
.song_info_zj{display:inline-block;}
.song_info_zj span{color: #c3c3c3;}
.song_info_gc{overflow-y: scroll;height: 71%; position: absolute;top: 130px;left: 0;cursor: -webkit-grab;}
.song_info_gc p{line-height: 34px;font-size: 14px;color:#fff;margin-right: 120px;}
/* 滚动条 */
.song_info_gc::-webkit-scrollbar{height: 30px;width: 7px;background-color: rgba(107, 105, 105, 0.13);border-radius: 10px;}
.song_info_gc::-webkit-scrollbar-thumb{height: 10px;background-color: #c3c3c3;border-radius: 10px;} 
/* footer_时间 */
.music_time{color: rgba(225,225,225,.8);position: relative;width: 100%;font-size: 12px;}
.music_time_left{display: inline-block;}
.music_time_right{display: inline-block;float: right;}
/* footer */
.music_footer{position: absolute;bottom: 0;left: 10px;height: 86px;width: 100%;}
.footer_top{position: relative;margin: 0 10px;width: 63%;}
.footer_right{height: 50px;left: 35px;position: relative;top: 2px;}
.js_stop{top: 18px !important;}
#test_stop{top:0px !important;}
#test_stop .iconfont{font-size: 14px !important;}
#test_d .iconfont{top:11px !important;font-size: 20px !important;}
/* .star {float: left;} */
.end{position: absolute;right: 0;}
.progress{background-color: #c3c3c3;height: 2px;width: 100%;position: relative;margin-bottom: 20px;border-radius: 12px;top: 10px;cursor: pointer}
.progress_bar{border-radius: 10px;position: absolute;top: 0;left: 0;height: 100%;width: 10%;background-color: #fff;}
.sound_progress{background-color: #c3c3c3;height: 2px;width: 70%;position: relative;margin-bottom: 20px;border-radius: 12px;top: 28px;}
.sound_progress_bar{border-radius: 10px;position: absolute;top: 0;left: 0;height: 100%;width: 10%;background-color: #fff;}
.music_info{display: inline-block;}
.sound{width: 100px;position: relative;}
/* footer */
.music_fo_content{display: block;width: 85%;margin: 0 auto;height: 100%;min-width: 1300px;padding: 0 10px;}
.tuzi {padding: 5px;position: relative;top: 14px;    display: inline-block;}
.tuzi  .iconfont {font-size: 18px;}
#stopfooter {top: 17px;}
/* .zanting{position: relative;top: 4px;}
.icon-xinzanting{font-size: 26px !important;} */
.music_num{font-size: 16px;color: #c3c3c3;position: relative;top: 13px;left: -5px;}

/* 小球 */
.progress_toll{height: 8px;width: 8px;border-radius: 50px;background-color: #fff;position: absolute;top: -3px;left: 10%;}

.progress_toll_sound{height: 8px;width: 8px;border-radius: 50px;background-color: #fff;position: absolute;top: -3px;left: 2%;}

/* 播放列表 */
.player{position: absolute;width: 300px;height: 606px;background:rgba(255,255,255,1);box-shadow:17px 10px 35px rgba(0,0,0,0.3);top: 10px;right: -50%;}
.player h2 {font-size:18px;font-family:MicrosoftYaHei;color:rgba(87,87,87,1);font-weight: normal;margin: 20px 20px 0px 20px;}
.player_tool{margin: 5px 20px 20px 20px;font-size:12px;color:rgba(164,164,164,1);font-family:MicrosoftYaHei;}
.player_tool_del{float: right;cursor: pointer;}
.player_tool_del:hover {color: #414141;}

.player_list{height: 80%;overflow-y: scroll;}
.player_list::-webkit-scrollbar{height: 30px;width: 7px;background-color: rgba(107, 105, 105, 0.13);border-radius: 10px;}
.player_list::-webkit-scrollbar-thumb{height: 10px;background-color: #c3c3c3;border-radius: 10px;} 

.player_list_li{display: block;padding: 10px 20px 10px 20px;border-bottom: 1px solid rgba(225,225,225,.8)}
.player_song_title h3{font-size:14px;color:rgba(94,94,94,1);font-family:MicrosoftYaHei;}
.player_song_title p{font-size:12px;color:rgba(153,153,153,1);font-family:MicrosoftYaHei;line-height: 20px;}
.player_song_iconfont{float: right;}
.player_list_li:hover {background-color:rgb(234, 234, 234);color: #fff;}
.player_song_iconfont .iconfont {color:#c3c3c3;line-height: 35px;padding-left: 5px;font-size: 20px;}
.player_song_iconfont .iconfont:hover {color: #fff !important;}
/* .icon-aixin1{color: #e65757;} */
.player_song_time{color: rgba(153,153,153,1);float: right;font-size: 12px;line-height: 54px;float: right;}
.player_list_li:hover .player_song_iconfont{display:inline-block !important;z-index: 2;}
.player_list_li:hover .player_song_time{display: none;}


/* 登陆页面 */
.landing{position: absolute;height: 350px;width: 350px;top: 50%;left: 50%;margin-left: -150px;margin-top: -150px;background-color: #fff;}
.commingpage{position: absolute; top: 0;height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.45);z-index: 5;}
.landing_title{text-align: right;padding: 10px;color: #c3c3c3;cursor: pointer;}
.landing_title_tt{font-size: 16px;background:rgba(255,255,255,1);text-align: center;display: block;padding: 20px 0;}
#userform{text-align: center;}
.form_content{margin:10px 30px;;color: rgb(187, 186, 186);border-bottom: 1px solid rgba(238,238,238,1);padding: 10px 0;}
.form_label input{border: none;outline: none; color: #707070;width: 240px;}
.form_label .iconfont {font-size: 16px;}
input[type="submit"] {width: 82%;margin: 10px;outline: none;border: none;padding: 10px 0;background-color: steelblue;color: #fff;}
.landing_bottom{position: absolute;bottom: 0;right: 0;font-size: 10px;padding: 0 10px 10px 0;color: #c3c3c3;}
.landing_bottom span{ padding:0 5px;border-right: 1px solid rgba(238,238,238,1);cursor: pointer;}
.landing_bottom span:last-child {border-right: none;}


/* 上传页面 */
.upload_page{position: absolute;height: 350px;width: 700px;top: 50%;left: 50%;margin-left: -305px;margin-top: -178px;background-color: #fff;}
.upload_page_title{padding:10px; background:rgba(236, 236, 236, 0.48);}
.upload_page_title span:first-child{color: #707070;}
.up_landing_title{text-align: right;color: #c3c3c3;cursor: pointer;float: right;    padding-top: 2px;}
.upload_page_file{height: 100px;text-align: center;position: relative; border-bottom: 1px solid rgba(8, 8, 8, 0.12);}
input[type="file"]{height: 39px;background-color: red;position: relative;top: 15px;width: 352px;left: -13px;z-index: 5;opacity: 0;}
.test{position: absolute;width: 50%;border: 1px solid silver;height: 37px;left: 17%;top: 27%;}
.test span{ border-right: 1px solid silver;line-height: 38px;float: left;padding: 0 10px;}
input[type="button"] {width: 12%;outline: none;border: none;padding: 10px 0;background-color: steelblue;color: #fff;position: relative;top: 23px;left: 10px;}

/* 上传列表样式 */
.upload_page_list{position: relative;}
.uplist_title{height: 40px;line-height: 40px;border-bottom: 1px solid rgba(8, 8, 8, 0.12);}
.upload_page_list li{display: inline-block;width: 31%;padding-left: 10px;font-size: 14px;color: #3c3c3c;text-align: center;}

/* checkbox样式 */
.icheckbox_flat-grey{transform: scale(0.75);top: -2px;}
/* 滚动条 */
.lanren{width:100%;background-color: #c3c3c3;position: relative;top:18px;}
.process{width: 100%;height: 2px; position: relative;border-radius: 3px;font-size: 0;background-color: rgba(0, 0, 0, 0.253);}
.bg_value{    
    background-color: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    z-index: 5;
}
.bg_bar{
    height: 12px;
    width: 100%;
    /* background-color: black; */
    position: relative;
    display: inline-block;
    /* opacity: 0; */
    background-color: transparent;
    top: -5px;
}
.process_circle {
    /* background-color: #6bb492; */
    width: 6px;
    height: 14px;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 6;
    transform: translateX(-7px)
}
.process_circle span {
    height: 8px;
    width: 8px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    transform: translateX(7px);
}
/* 选择 */
.xuanze{position: relative;top: 12px;}

/* 滚动条 */
.lanren1{width:100%;background-color: #c3c3c3;position: relative;top:18px;    top: -2px;
    left: 32px;float: left;}
.process1{width: 100%;height: 2px; position: relative;border-radius: 3px;font-size: 0;background-color: rgba(0, 0, 0, 0.253);}
.bg_value1{    
    background-color: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    z-index: 5;
}
.bg_bar1{
    height: 12px;
    width: 100%;
    /* background-color: black; */
    position: relative;
    display: inline-block;
    /* opacity: 0; */
    background-color: transparent;
    top: -5px;
}
.process_circle1 {
    /* background-color: #6bb492; */
    width: 6px;
    height: 14px;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 6;
    transform: translateX(-7px)
}
.process_circle1 span {
    height: 8px;
    width: 8px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    transform: translateX(7px);
}
/* nothing */
.loverfooter{position: relative;top: 13px;}
#lover{top:-1px !important;}